.box {
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
    padding: 28px 20px 20px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #262626;
}

.title>span {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(43, 43, 42, 0.4);
}

.sexBox {
    display: flex;
    gap: 8px;
    margin-top: 24px;
}


.radioLabel {
    cursor: pointer;
}

.sexInput {
    display: none;
}


.sexIconBox {
    border-radius: 30px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sexIconBoxFemale {
    background-color: rgba(244, 63, 94, 0.1);
    stroke: #f43f5e;
    fill: transparent;
}

.sexIconBoxMale {
    background-color: rgba(84, 173, 255, 0.1);
    stroke: #54adff;
    fill: transparent;
}

.sexIconBoxUnknown {
    background-color: #fff4df;
    fill: #f6b83d;
}

.sexInput:checked+.sexIconBoxFemale {
    background-color: #f43f5e;
    stroke: #fff;
}

.sexInput:checked+.sexIconBoxMale {
    background-color: #54adff;
    stroke: #fff;
}

.sexInput:checked+.sexIconBoxUnknown {
    background-color: #f6b83d;
    stroke: #fff;
}

.avatar {
    border-radius: 100px;
    margin: 8px auto 16px;
    display: block;
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 68px;
    height: 68px;
    background-color: #fff4df;
    fill: #f6b83d;
    margin: 8px auto 16px;
}

.inputsWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.input {
    width: 100%;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    height: 42px;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
}

.input:focus,
.input:not(:placeholder-shown) {
    border-color: #f6b83d;
}

.input::placeholder {
    color: rgba(38, 38, 38, 0.5);
}

.birthday,
.select {
    width: 142px;
}

.birthdayLabel {
    position: relative;
}

.selectLabel {
    position: relative;
}

.select {
    color: rgba(38, 38, 38, 0.5);
    position: relative;
    appearance: none;
}

.chevron {
    position: absolute;
    top: 12px;
    right: 12px;
    stroke: #262626;
    fill: transparent;
}

.btnsBox {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 31px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 100px;
    height: 42px;
    background-color: rgba(38, 38, 38, 0.05);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
}

.btn:hover {
    color: #fff;
    background-color: #f6b83d;
}

@media screen and (min-width:768px) {
    .box {
        padding: 40px 136px;
        border-radius: 60px;
        width: 704px;
    }

    .title {
        font-size: 32px;
    }

    .title>span {
        font-size: 16px;
    }

    .sexBox {
        margin-top: 40px;
    }

    .sexIconBox {
        width: 40px;
        height: 40px;
    }

    .sexIconBox>svg {
        width: 24px;
        height: 24px;
    }

    .avatar {
        margin-top: -16px;
    }

    .iconBox {
        margin-top: -22px;
        margin-bottom: 12px;
    }

    .inputsWrapper {
        gap: 18px;
    }

    .input::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .birthday,
    .select {
        width: 206px;
    }

    .btnsBox {
        margin-top: 46px;
    }

    .btn {
        width: 170px;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width:1280px) {
    .box {
        width: 592px;
        padding: 60px 80px;
    }
}