.box {
    border-radius: 30px;
    width: 335px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    position: relative;
}

.uploadBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.hiddenInput {
    display: none;
}

.editForm input.urlInput {
    width: 161px;
}


.uploadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px;
    gap: 8px;
    background-color: #fff4df;
    stroke: #f6b83d;
    fill: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #262626;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #2b2b2a;
    margin-bottom: 20px;
}

.avatar {
    border-radius: 100px;
    margin-bottom: 2px;
    object-fit: cover;
}

.editForm input {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #262626;
}

.editForm input:focus {
    outline: none;
}

.editForm p {
    color: red;
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    border-radius: 30px;
    background-color: #f6b83d;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #fff;
    margin-top: 11px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    stroke: #262626;
}

@media screen and (min-width:768px) {
    .box {
        width: 480px;
        padding: 50px;
    }

    .editForm input.urlInput {
        width: 226px;
    }

    .uploadBtn {
        font-size: 14px;
        padding: 12px 17px;
    }

    .title {
        font-size: 18px;
        line-height: 1.3;
    }

    .editForm {
        gap: 20px;
    }

    .avatar {
        width: 86px;
        height: 86px;
        margin-bottom: -8px;
    }

    .editForm input {
        padding: 16px;
        height: 52px;
        font-size: 16px;
        line-height: 1.25;
    }

    .submitBtn {
        margin-top: 20px;
        height: 52px;
    }
}